<footer>
    <div class="container">
        <div class="footer-content">
            <div class="footer-content-about">
                <h4>About</h4>
                <div class="asterisk"><i class="fas fa-asterisk"></i></div>
                <p>
                    This application was constructed using the Flask framework for unit CITS3403: Agile Web Development,
                    from The University of Western Australia.
                </p>
                <p>
                    By Aditya Gupta, Frinze Lapuz, Hadi Navabi & Sarup Parajuli.
                </p>
            </div>
        </div>
    </div>
</footer>