<header id="top">
	<div class="container">
		<nav class="nav">
			<div class="menu-toggle" style="position: sticky">
				<i class="fas fa-bars"></i>
				<i class="fas fa-times"></i>
			</div>
			<ul class="nav-list">
				<li class="nav-item">
					<a href="{{ url_for('index') }}" class="btn nav-link">Spotimania</a>
                </li>

				<!-- {% if current_user.is_authenticated %}
					<li class="nav-item">
						<label class="nav-link" style="text-transform: none; font-weight: lighter; margin: 0;">Logged in as "{{ current_user.username }}"</label>
						<!-- <a href="{{ url_for('index') }}" class="nav-link">{{ current_user.username }}</a> -->
					</li>
				{% endif %} -->
			</ul>
			<ul class="nav-list">
				{% if current_user.is_anonymous %}
				<li class="nav-item">
					<a href="{{ url_for('login') }}" class="btn nav-link">Login</a>
				</li>
				<li class="nav-item">
					<a href="{{ url_for('register') }}" class="btn nav-link">Register</a>
				</li>
                {% else %}
				<li class="nav-item">
					<a href="{{ url_for('playlists') }}" class="btn nav-link">Quiz</a>
				</li>
				<li class="nav-item">
					<a href=" {{ url_for('results') }}" class="btn nav-link">Results</a>
				</li>
				<li class="nav-item">
					<div class="dropdown">
						<button class="btn nav-link dropdown-toggle" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">My Account</button>
						<div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
							<h1 class="dropdown-header">Logged in as "{{ current_user.username }}"</h1>
							<a href="" class="dropdown-item">Profile</a>
							<a href="{{ url_for('logout') }}" class="dropdown-item">Logout</a>
						</div>
					</div>
				</li>
				{% endif %}
			</ul>
		</nav>
	</div>
</header>
