<header id="top">
	<div class="container">
		<nav class="nav">
			<div class="menu-toggle" style="position: sticky">
				<i class="fas fa-bars"></i>
				<i class="fas fa-times"></i>
			</div>
			<ul class="nav-list">
                {% if current_user.is_anonymous %}
                <li class="nav-item">
					<a href="{{ url_for('index') }}" class="nav-link">Home</a>
                </li>
                {% else %}
				<li class="nav-item">
					<a href="{{ url_for('index') }}" class="nav-link">Home</a>
                </li>
                <li class="nav-item">
					<label class="nav-link" style="text-transform: none; font-weight: lighter; margin: 0;">Logged in as "{{ current_user.username }}"</label>
					<!-- <a href="{{ url_for('index') }}" class="nav-link">{{ current_user.username }}</a> -->
                </li>
                {% endif %}
			</ul>
			<ul class="nav-list">
				{% if current_user.is_anonymous %}
				<li class="nav-item">
					<a href="{{ url_for('login') }}" class="nav-link">Login</a>
				</li>
				<li class="nav-item">
					<a href="{{ url_for('register') }}" class="nav-link">Register</a>
				</li>
                {% else %}
				<li class="nav-item">
					<a href="{{ url_for('playlists') }}" class="nav-link">Quiz</a>
				</li>
				<li class="nav-item">
					<a href=" {{ url_for('results') }}" class="nav-link">Results</a>
				</li>
				<li class="nav-item">
					<a href="{{ url_for('logout') }}" class="nav-link">Logout</a>
				</li>
				{% endif %}
			</ul>
		</nav>
	</div>
</header>
