<header id="top">
    <div class="container">
        <nav class="nav">
            <div class="menu-toggle">
                <i class="fas fa-bars"></i>
                <i class="fas fa-times"></i>
            </div>
            <ul class="nav-list">
                <li class="nav-item">
                    <a href="{{ url_for('index') }}" class="nav-link">Home</a>
                </li>
            </ul>
            <ul class="nav-list">
                {% if current_user.is_anonymous %}
                <li class="nav-item">
                    <a href="{{ url_for('login') }}" class="nav-link">Login</a>
                </li>
                <li class="nav-item">
                    <a href="{{ url_for('register') }}" class="nav-link">Register</a>
                </li>
                {% else %}
                <li class="nav-item">
                    <a href="{{ url_for('logout') }}">Logout</a>
                </li>
                <li class="nav-item">
                    <a href="{{ url_for('quiz') }}" class="nav-link">Quiz</a>
                </li>
                <li class="nav-item">
                    <a href="#" class="nav-link">Results</a>
                </li>
                {% endif %}
            </ul>
        </nav>
    </div>
</header>