/* footer */

footer{
    padding: 8rem 0;
    background-color: rgb(18, 18, 18);
    color: white;
    text-align: center;
    position: relative;
}

.footer-content-about h4{
    font-size: 3rem;
    text-transform: uppercase;
    font-weight: 100;
    letter-spacing: 3px;
    margin-bottom: 3rem;
}

.footer-content .asterisk{
    margin: 2.4rem 0;
}

.footer-content-about{
    margin-bottom: 5.4rem;
}

.footer-content-about p{
    line-height: 2;
}