@import url("https://fonts.googleapis.com/css?family=Acme|Lobster|Patua+One|Rubik|Sniglet");
@import url('https://fonts.googleapis.com/css2?family=Abel&family=Livvic:wght@300&display=swap');
/*Global styles*/
*,
*::before,
*::after{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root{
    --main-font: 'Source Sans Pro', sans-serif;
    --body-font: 'Cabin', sans-serif;
    --main-font-color-dark: #252525;
    --secondary-font-color: white;
    --body-font-color: #515151;

    --Sniglet-font: "Sniglet", cursive;
    --Rubik: "Rubik", cursive;
    --Patua: "Patua One", cursive;
    --Lobster: "lobster", cursive;
    --light-black: #2e2c2caf;
    --bggradient: linear-gradient(to bottom, #dd2476, #ff512f);
    --light-gray: rgba(255, 255, 255, 0.877);
    --Livvic : 'Livvic', cursive;
}

html{
    font-family: var(--body-font);
    font-size: 10px;
    color: var(--body-font-color);
    scroll-behavior: smooth;
}

section{
    padding: 3.9rem 0;
}

img{
    width: 100%;
    max-width: 100%;
}

a{
    text-decoration: none;
    color: black;
}

p{
    font-size: 1.6rem;
}

.container{
    width: 100%;
    max-width: 140rem; 
    margin: 0 auto;
    padding: 0 2.4rem;
}