/* CSS file providing the CSS Required for the Content of various Pages. such as: quiz.html, login.html, register.html and etc... */

div.mainContent {
    background-image: url(../images/hero.png);
    height: fit-content;
    padding: 50px;
    border-radius: 25px;
}

div.innerContent {
    margin: 15px; 
    padding: 50px; 
    background-color: white; 
    border-radius: 70px;
}

div.musicContent {
    padding: 20px; 
    background-color: grey;
    border-radius: 20px;
}
audio {
    width: 100%;
}

.inputGuess {
    width: 100%;
    font-size: 20px;
    border-style: solid;
    border-color: black;
    border-radius: 20px; 
    padding: 2px 20px;
    outline: none;
}
.inputGuess:focus {
    border-color: rgb(69, 225, 159);
    box-shadow: 0 0 8px 0 rgb(69, 225, 159);
}

.inputLabel {
    font-family: var(--Rubik);
    font-size: 20px;
    width: 100%;
    margin: 0;
}

.inputSubmit {
    border: none;
    white-space: nowrap;

    font-family: var(--Rubik);
    font-size: 15px;
    color: black;
    background-color: rgb(69, 225, 159);
    border-radius: 25px;
    padding: 10px 30px;

    transition: color 0.25s, box-shadow 0.25s;
}
.inputSubmit:hover {
    color: white;
    box-shadow: 0 0 15px 0 rgb(69, 225, 159);
}
.inputSubmit:active {
    box-shadow: 0 0 50px 0 rgb(69, 225, 159);
}

.inputHint {
    border: none;
    white-space: nowrap;

    font-family: var(--Rubik);
    font-size: 15px;
    color: black;
    background-color: rgb(195, 195, 195);
    border-radius: 25px;
    padding: 10px 30px;

    transition: color 0.25s, box-shadow 0.25s;
}
.join-btn,
.inputHint:hover {
    color: white;
    box-shadow: 0 0 15px 0 rgb(195, 195, 195);
}
.join-btn,
.inputHint:active {
    box-shadow: 0 0 50px 0 rgb(195, 195, 195);
}

.inputComplete {
    border: none;

    font-family: var(--Rubik);
    font-size: 15px;
    color: black;
    background-color: rgb(60, 155, 245);
    border-radius: 25px;
    padding: 10px 30px;

    transition: color 0.25s, box-shadow 0.25s;
}
.inputComplete:hover {
    color: white;
    box-shadow: 0 0 15px 0 rgb(60, 155, 245);
}
.inputComplete:active {
    box-shadow: 0 0 50px 0 rgb(60, 155, 245);
}

.radioToggle {
    border: none;

    font-family: var(--Rubik);
    font-size: 15px;
    color: white;
    background-color: rgb(69, 225, 159);
    border-radius: 25px;
    padding: 10px 30px;
}
.radioToggle.active {
    background-color: rgb(35, 155, 110);
}

span.error-message{
    color: salmon;
}

.searchResultHeading {
    font-family: var(--Rubik);
    font-size: 30px;

    width: 100%;
    text-align: center;

    margin: 0;
    margin-bottom: 15px;
}

li.searchResultList {
    display: flex;
    justify-content: center;

    margin: 10px;
}

img.artistArt {
    width: 60%;

    display: block;
    margin: 10px auto;
    border-radius: 35px;
}

p.searchResultDescription {
    font-family: var(--Rubik);
    font-size: 20px;

    width: 100%;
    text-align: center;
}

.table-text{
    font-family: var(--Rubik);
    font-size: 3rem;
    margin-bottom: 3rem; 
}

.table-title{
    font-weight: 5rem; 
    color: rgb(211, 72, 62);
}

ul#results {
    max-height: 200vh;
    overflow: scroll; 
    margin: 0;
}

div#forloop > div {
    border-radius: 25px;
    margin: 10px;
}

.join-btn{
    border: none;

    font-family: var(--Rubik);
    font-size: 10px;
    color: black;
    background-color: rgb(195, 195, 195);
    padding: 5px 15px;

    transition: color 0.25s;
}

/* All Modal CSS */

.modal-content {
    padding: 5px 10px; 
    border-radius: 25px;
}

.modal-title {
    margin-bottom: 0;
    margin: 0 3rem;
}

.closeInput {
    font-size: 35px; 
    position: absolute; 
    right: 2rem;
}