{% extends 'layout.html' %} {% block content %}
<section class="hero">
    <div class="container">
        <h2 class="sub-headline">
            <span class="first-letter">404</span>
        </h2>
        <h1 class="headline">Sorry this page does not exist.</h1>
        <h1 class="headline">Please click below to return home.</h1>
        <div class="headline-description">
            <div class="single-animation">
                <a href="{{ url_for('index') }}" class="btn cta-btn">Home</a>
            </div>
        </div>
    </div>
</section>

{% endblock %}
