{% extends 'layout.html' %} {% block content %}

<style>
	ul {
		max-height: 80vh;
		overflow: scroll;
	}

	li {
		margin: 5px;
		display: flex;
		justify-content: center;
	}

	.searchResultHeading {
		font-family: var(--Rubik);
		font-size: 30px;

		width: 100%;
		text-align: center;

		margin: 0;
		margin-bottom: 15px;
	}

	.searchResultDescription {
	}
</style>

{% include 'components/alerts.html' %}

<div class="mainContent" style="background-position: bottom right;">
	<h1 class="sub-headline" style="font-size: 40px;">Playlist: {{playlist.playlistName}}</h1>
	<div class="row">
		<div class="col-md-6">
			<div class="innerContent">
				<form>
					<label class="inputLabel">Search</label>
					<div class="input-group-prepend">
						<label class="input-group-text" for="inputGroupSelect01">Options</label>
					</div>
					<select class="custom-select" id="searchOption" name="searchOption">
						<option value="artist" selected>Artist</option>
						<option value="track">Track</option>
					</select>

					<input id="searchInput" type="text" name="searchInput" placeholder="Enter Search" class="inputGuess" />
					<br /><br /><br />
					<button type="button" onclick="searchSong(this)" id="submitSongSearch" class="inputSubmit">Search</button>
				</form>
			</div>
			<div class="innerContent">
				<h2 class="searchResultHeading">Search Results</h2>
				<p class="searchResultDescription" id="SRDescription"></p>
				<ul id="results"></ul>
			</div>
		</div>
		<div class="col-md-6">
			<div class="innerContent">
				<label class="inputLabel">Currently In The List</label>
				<div id='forloop'>
				{% for song in songs %}
				<div>
					<div class="avatar-root">
						<img class="avatar" src="{{song['prevIMG']}}" alt="" />
					</div>
					<p>{{song["songName"]}}</p>
					<p>{{song["artist"]}}</p>
					<audio controls>
						<source src="{{song['prevURL']}}" />
						Your browser does not support the audio element.
					</audio>
				</div>
				<a id="{{song['id']}}" onclick="updateDiv(); deleteSong(this,'{{playlist.id}}')"><i class="fa fa-trash" aria-hidden="true"></i></a>
				{% endfor %}
				</div>
			</div>
		</div>
	</div>
</div>

<script>
	sessionStorage.setItem('playlistId', '{{playlist.id}}');
	console.log('SESION SAVED');
</script>

{% endblock %}
