{% extends 'layout.html' %} {% block content %}

<!-- Modal -->
<div class="modal fade" id="playlistModal" tabindex="-1" role="dialog">
	<div class="modal-dialog modal-dialog-centered" role="document">
		<div class="modal-content" style="padding: 5px 10px; border-radius: 25px;">
			<div class="modal-header">
				<h5 class="modal-title searchResultHeading" id="ModalLabel">Edit Playlist Name</h5>
				<button class="close" data-dismiss="modal" style="font-size: 25px;">
					<span>&times;</span>
				</button>
			</div>
			<div class="modal-body">
				<div class="form-group">
					<label for="newPlaylistName" class="inputLabel">New Playlist Name</label>
					<input type="text" id="newPlaylistName" class="inputGuess" placeholder="Enter New Name...">
				</div>
			</div>
			<div class="modal-footer">
				<button class="btn inputSubmit"
					data-dismiss="modal"
					onclick="changePlaylistName(this,{{playlist.id}})"
					id="modalPrimary"
				>Save</button>
			</div>
		</div>
	</div>
</div>

<div class="mainContent" style="background-position: bottom right;">
	<div class="d-flex justify-content-between align-items-center">
		<h1 id="headerTitle" class="sub-headline" style="font-size: 40px;">Playlist: {{playlist.playlistName}}</h1>
		<div id="headerButtons">
			<a class="btn inputHint" href="{{url_for('deletePlaylistRoute',playlistId=playlist.id) }}">
				Delete Playlist
			</a>
			<!-- Button trigger modal -->
			<button class="btn inputSubmit" data-toggle="modal" data-target="#playlistModal">
				Edit Playlist Name
			</button>
		</div>
	</div>
	<!-- Search -->
	<div class="innerContent">
		<h2 class="searchResultHeading">Search</h2>
		<form onsubmit="searchSong(this); return false;">
			<input id="searchInput" type="text" name="searchInput" placeholder="Enter Search" class="inputGuess" />
			<br /><br />
			<div class="d-flex justify-content-end">
				<div class="btn-group btn-group-toggle" data-toggle="buttons">
					<label class="btn radioToggle active">
						<input type="radio" name="radioSearchOption" id="artistOption" value="artist" checked /> Artists
					</label>
					<label class="btn radioToggle"> <input type="radio" name="radioSearchOption" id="trackOption" value="track" /> Songs </label>
				</div>
			</div>
			<br />
			<button
				type="button"
				onclick="searchSong(this);document.getElementById('SearchResults').scrollIntoView();"
				id="submitSongSearch"
				class="inputSubmit"
			>
				Search
			</button>
		</form>
	</div>
	<div class="row">
		<!-- Search Results -->
		<div class="col-md-6" style="padding: 0;">
			<div id="SearchResults" class="innerContent">
				<h2 id="SRHeading" class="searchResultHeading">Search Results</h2>
				<p id="RSDescription" class="searchResultDescription">Search your favourite Artist or Song above...</p>
				<ul id="results">
				</ul>
			</div>
		</div>
		<!-- Currently In The List -->
		<div class="col-md-6" style="padding: 0;"> 
			<div id="SearchedSongsInPlaylist" class="innerContent">
				<h2 class="searchResultHeading">Songs in Playlist</h2>
				<p class="searchResultDescription">View, Play or Delete Songs in Playlist...</p>
				<div id="forloop" style="max-height: 200vh; overflow: scroll;">
					{% for song in songs %}
					<div id="{{song['spotifySongID']}}" class="card text-center text-white bg-dark">
						<div class="card-header">
							<label class="inputLabel" style="font-weight: bold;">{{song["songName"]}}</label>
						</div>
						<div class="card-body">
							<img class="card-img-top artistArt" src="{{song['prevIMG']}}" style="width: 80%;" />
							<br />
							<h4 class="card-title inputLabel" style="font-size: 15px;">by {{song["artist"]}}</h4>
							<br />
							<a
								id="{{song['spotifySongID']}}"
								onclick=" deleteSong(this,'{{playlist.id}}')"
								style="font-size: 25px;"
								class="btn text-muted"
							>
								<i class="fa fa-trash"></i>
							</a>
						</div>
						<div class="card-footer text-muted">
							<audio controls>
								<source src="{{song['prevURL']}}" />
								Your browser does not support the audio element.
							</audio>
						</div>
					</div>
					{% endfor %}
				</div>
			</div>
		</div>
	</div>
</div>

<script>
	sessionStorage.setItem('playlistId', '{{playlist.id}}');
</script>

{% endblock %}
