<!DOCTYPE html>
<html lang="en">
{% include 'components/head.html' %}

<body>
	{% include 'components/nav.html' %}


	<div>
		{% with messages = get_flashed_messages(with_categories=true)%} {% if messages %}
		{% for category,message in messages %}
		<div class="alert alert-{{category}}">
			<p>{{message}}</p>
		</div>
		{% endfor %} {% endif %} {% endwith %}
	</div>


	<section>
		<div class="container">
			{% block content%} {% endblock %}
		</div>
	</section>

	{% include 'components/footer.html' %}
</body>

</html>