{% extends 'layout.html' %}

{% block content %}

{% include 'components/alerts.html' %}
<div class="mainContent" style="background-position: top right;">
    <div class="row">
        <div class="col-md-7">
			<h1 class="sub-headline" style="font-size: 40px;">{{title}}</h1>
			<div class="innerContent">
				<form name="login" action="" method="POST" novalidate>
					<fieldset class="form-group">
						{{form.hidden_tag()}}
						<p>
							{{form.username.label(class="inputLabel")}}<br />
							{{form.username(size=30, class="inputGuess")}} <br />
							{% for error in form.username.errors%}
							<span class="error-message">{{error}}</span>
							{% endfor %}
						</p>
						<p>
							{{form.password.label(class="inputLabel")}}<br />
							{{form.password(size=30, class="inputGuess")}} <br />
							{% for error in form.password.errors%}
							<span class="error-message">{{error}}</span>
							{% endfor %}
						</p>
						<p>
							{{form.submit(class="inputSubmit")}}
						</p>
						<p>If you don't have an account, <a href="{{url_for('register')}}">Register here...</a></p>
					</fieldset>
				</form>
            </div>
        </div>
    </div>
</div>

{% endblock %}