{% extends 'layout.html' %} {% block content %}

<script language="JavaScript">
	//checkbox to check all boxes
	function toggle(source) {
		checkboxes = document.getElementsByName('songName');
		for (var i = 0, n = checkboxes.length; i < n; i++) {
			checkboxes[i].checked = source.checked;
		}
	}
</script>
<!--Style table-->
<style type="text/css">
	th {
		background-color: black;
		color: white;
	}

	td,
	th {
		text-align: center;
	}

	tr:nth-child(even) {
		background-color: #dddddd;
	}

	div.playlistTable {
		overflow: auto;
	}
</style>
<h1>Playlist</h1>
<!-- Button trigger modal -->
<button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModalCenter">
	Create A New Playlist
</button>

<!-- Modal -->
<div class="modal fade" id="exampleModalCenter" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
	aria-hidden="true">
	<div class="modal-dialog modal-dialog-centered" role="document">
		<div class="modal-content">
			<div class="modal-header">
				<h5 class="modal-title" id="exampleModalLabel">Create New Playlist</h5>
				<button type="button" class="close" data-dismiss="modal" aria-label="Close">
					<span aria-hidden="true">&times;</span>
				</button>
			</div>
			<form name="login" action="" method="POST">
			{{form.hidden_tag()}}
			<div class="modal-body">


				<div class="form-group">
					{{form.playlistName.label(class="inputLabel")}}<br />
					{{form.playlistName(size=30, class="inputGuess")}} <br />
					{% for error in form.playlistName.errors%}
					<span class="error-message">{{error}}</span>
					{% endfor %}
				</div>

			</div>
			<div class="modal-footer">
				<button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
				{{form.submit(class="inputSubmit")}}
			</div>
			</form>
		</div>
	</div>
</div>
<div class="playlistTable">
	<table style="width: 100%;">
		<tr>
			<th>Playlist Id</th>
			<th>Playlist Name</th>
			<th>Date Created</th>
			<th>Date Last Modified</th>
			<th></th>
		</tr>

		<tr>
			{% for playlist in playlists %}
		<tr>
			<td>{{ playlist.id }}</th>
			<td>{{ playlist.playlistName }}</th>
			<td>{{ playlist.date_created|datetimeformat  }}</th>
			<td>{{ playlist.date_modified|datetimeformat }}</th>
			<td>
				{% if current_user.is_admin %}
				<a class="btn" href="{{ url_for('playlist',playlistId=playlist.id) }}">Edit</a>
				{% endif %}

				<a class="btn" href="{{ url_for('quiz',playlistId=playlist.id) }}">Play</a></th>
		</tr>

		{% endfor %}
		</tr>
	</table>
</div>

{% endblock %}