{% extends 'layout.html' %} {% block content %}


<!-- Create New Playlist Modal -->
<div class="modal fade" id="NewPlaylistModal" tabindex="-1" role="dialog">
	<div class="modal-dialog modal-dialog-centered" role="document">
		<div class="modal-content">
			<div class="modal-header">
				<h1 class="modal-title searchResultHeading">Create New Playlist</h1>
				<button class="close closeInput" data-dismiss="modal">&times;</button>
			</div>
			<form name="login" method="POST">
				{{form.hidden_tag()}}
				<div class="modal-body">
					<div class="form-group">
						{{form.playlistName.label(class="inputLabel")}} <br>
						{{form.playlistName(size=30, class="inputGuess")}} <br>
						{% for error in form.playlistName.errors%}
						<span class="error-message">{{error}}</span>
						{% endfor %}
					</div>
				</div>
				<div class="modal-footer">
					{{form.submit(class="inputSubmit")}}
				</div>
			</form>
		</div>
	</div>
</div>

<div class="d-flex justify-content-between align-items-center">
	<h1 id="headerTitle" class="sub-headline" style="font-size: 40px; color: black;">
		{% if current_user.is_admin() %}
		List of Playlists/Quizzes
		{% else %}
		List of Quizzes
		{% endif %}
	</h1>
	<div id="headerButtons">
		{% if current_user.is_admin() %}
		<!-- Button triggers modal -->
		<button class="btn inputSubmit" data-toggle="modal" data-target="#NewPlaylistModal" style="margin-right: 20px;">
			Create New Playlist
		</button>
		{% endif %}
	</div>
</div>




<div class="mainContent" style="background-position: top right;">
	<div class="innerContent" style="margin: 0;">
		<div class="table-responsive-xl">
			<table class="table table-hover" style="width: 100%; font-size: 1.5rem; margin-bottom: 0;">
				<thead>
					<tr>
						{% if current_user.is_admin() %}
						<th>Playlist Id</th>
						{% endif %}
						<th scope="col">Playlist Name</th>
						<th scope="col">Date Created</th>
						<th scope="col">Date Last Modified</th>
						<th scope="col">Actions</th>
					</tr>
				</thead>
				<tbody>
					{% for playlist in playlists %}
					<tr>
						{% if current_user.is_admin() %}
						<td>{{ playlist.id }}</td>
						{% endif %}
						<td>{{ playlist.playlistName }}</td>
						<td>{{ playlist.date_created|datetimeformat }}</td>
						<td>{{ playlist.date_modified|datetimeformat }}</td>
						<td>
							{% if current_user.is_admin() %}
							<a class="btn" href="{{ url_for('playlist',playlistId=playlist.id) }}"><i class="fa-2x fas fa-edit" title="Edit or Delete Playlist"></i></a>
							{% endif %}
							
							<a class="btn" href="{{ url_for('quiz',playlistId=playlist.id) }}"><i class="fa-2x fas fa-gamepad" title="Play Playlist"></i></a>
						</td>
					</tr>
					{% endfor %}
				</tbody>
			</table>
		</div>
	</div>
</div>

{% endblock %}