{% extends 'layout.html' %} {% block content %}
<script language="JavaScript">
function toggle(source) {
  checkboxes = document.getElementsByName('songName');
  for(var i=0, n=checkboxes.length;i<n;i++) {
    checkboxes[i].checked = source.checked;
  }
}
</script>
<h1>Playlist</h1>
	<form id="songForm" action = "/handle_data" method = "POST" onsubmit="setTimeout(function () { window.location.reload(); }, 10)">
	<input type="checkbox" name='selectAll' onClick="toggle(this)"/><label for="selectAll">Select All</label> <input type="submit"><br>
    {% for r in results %}

    <input type="checkbox" name="songName" value='{{ r.songName }}'>
  	<label for="songName">Song Name: {{ r.songName }}</label>
    <p>ID: {{ r.id }}<br>Song ID: {{ r.songID }}<br> </p>
    <br>
    {% endfor %}
    </form>



{% endblock %}