{% extends 'layout.html' %} {% block content %}

<script language="JavaScript">
function toggle(source) {
  checkboxes = document.getElementsByName('songName');
  for(var i=0, n=checkboxes.length;i<n;i++) {
    checkboxes[i].checked = source.checked;
  }
}
</script>
<h1>Playlist</h1>
<table style="width:100%">
	<tr>
		<td><input type="checkbox" name='selectAll' onClick="toggle(this)"/></td>
	    <th>ID</th>
	    <th>Song Name</th>
	    <th>Song ID</th> 
    <tr>
	<form id="songForm" action = "/handle_data" method = "POST" onsubmit="setTimeout(function () { window.location.reload(); }, 10)">
	 <input type="submit" value="Delete"><br><br>
    {% for r in results %}
    <tr>
	    <td><input type="checkbox" name="songName" value='{{ r.songName }}'></td>
	    <td>{{ r.id }}</td>
	    <td><label for="songName">{{ r.songName }}</label></td>
	    <td> {{ r.songID }}</td>
	  	
	    
    </tr>
    
    {% endfor %}
    </form>
</table>


{% endblock %}